.grid__container {
  display: grid;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar banner banner banner"
    "sidebar main main main";

  @media screen and (max-width: 1024px) {
    grid-template-areas:
      "banner banner banner banner"
      "main main main main"
      "sidebar sidebar sidebar sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
// Banner
.banner {
  grid-area: banner;
  padding: 1.5rem 0;
}

// Main
.main__area {
  grid-area: main;
  overflow-y: auto;
  padding: 0 0 4rem 0;
  position: relative;

  @media screen and (max-width: 1024px) {
    overflow-y: visible;
  }

  & .main__area__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
  }
}
